City of Redwood Server Rules

1. Please have your Discord Nickname set to your Roblox Username at all times! It must be clearly visible for everyone to see.

2. Please be respectful to everyone here. Do not treat someone differently based on race, sex, or religion!

3. This is a mainly english speaking discord, and please keep relevant topics in their correct text channels.

4. Any sort of spamming, of the mic, or text chat, is prohibited at all times.

5. NSFW (Not Safe For Work) content is absolutely forbidden. This includes gore, pornography, and relevant content.

6. Targeting someone in order to provoke by any means is forbidden.

7. Cursing is allowed but limited to mild language. Use of racist / sexist / other insulting curse words is not allowed at all.

8. Have appropriate profile pictures, they may not consist of pornography, gore, or have relations to a terrorist organization.
